In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
df_dist = pd.read_csv('DISTRIBUIDA/empreendimento-geracao-distribuida.csv', sep=';', decimal=',', parse_dates=[0], encoding='latin1', usecols=['SigAgente', 'CodClasseConsumo', 'NomRegiao', 'DscSubGrupoTarifario', 'CodMunicipioIbge','NomMunicipio', 'SigTipoGeracao', 'MdaPotenciaInstaladaKW'], dtype={'CodMunicipioIbge': str, 'CodClasseConsumo': int})

C:\Users\lauro\AppData\Local\Temp\ipykernel_12828\3879744307.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_dist = pd.read_csv('DISTRIBUIDA/empreendimento-geracao-distribuida.csv', sep=';', decimal=',', parse_dates=[0], encoding='latin1', usecols=['SigAgente', 'CodClasseConsumo', 'NomRegiao', 'DscSubGrupoTarifario', 'CodMunicipioIbge','NomMunicipio', 'SigTipoGeracao', 'MdaPotenciaInstaladaKW'], dtype={'CodMunicipioIbge': str, 'CodClasseConsumo': int})

In [78]:
df_test = pd.read_csv('DISTRIBUIDA/empreendimento-geracao-distribuida.csv', sep=';', decimal=',', parse_dates=[0], encoding='latin1')

C:\Users\lauro\AppData\Local\Temp\ipykernel_12828\2906562860.py:1: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.read_csv('DISTRIBUIDA/empreendimento-geracao-distribuida.csv', sep=';', decimal=',', parse_dates=[0], encoding='latin1')

In [63]:
1971386

1971386

In [64]:
df_dist = df_dist.dropna()

In [65]:
df_dist = df_dist.query('SigTipoGeracao=="UFV"')

In [80]:
df_dist

,SigAgente,CodClasseConsumo,DscSubGrupoTarifario,NomRegiao,CodMunicipioIbge,NomMunicipio,SigTipoGeracao,MdaPotenciaInstaladaKW,CodEstado,FC
0,CPFL-PAULISTA,1,B1,Sudeste,3533007,Nova Granada,UFV,3.3,35,0.159
1,ELETROACRE,2,B3,Norte,1200401,Rio Branco,UFV,32.5,12,0.145
2,ELETROACRE,1,B1,Norte,1200609,Tarauacá,UFV,4.0,12,0.145
3,ELETROACRE,2,B3,Norte,1200401,Rio Branco,UFV,2.0,12,0.145
4,ELETROACRE,1,B1,Norte,1200401,Rio Branco,UFV,2.0,12,0.145
...,...,...,...,...,...,...,...,...,...,...
1971381,ETO,3,B2,Norte,1713809,Palmeiras do Tocantins,UFV,75.0,17,0.167
1971382,ETO,6,B3,Norte,1702208,Araguatins,UFV,10.0,17,0.167
1971383,ETO,1,B1,Norte,1721208,Tocantinópolis,UFV,5.6,17,0.167
1971384,ETO,2,B3,Norte,1715754,Palmeirópolis,UFV,4.0,17,0.167
1971385,Equatorial GO,3,B2,Norte,1720903,Taguatinga,UFV,4.0,17,0.167

In [66]:
def strip(x):
    return str(x['CodMunicipioIbge'])[:2]

In [67]:
def aplicar_estado(df_codigos, x):
    return df_codigos.loc[int(x['CodEstado'])]['FC']

In [91]:
2 - (1+0.005)**(1/365)

0.9999863354093499

In [94]:
def calcular_energia(x):
    return x['MdaPotenciaInstaladaKW']*x['FC']*31*24*(2 - (1+0.005)**(1/365))**365

In [68]:
df_cod = pd.read_csv('DISTRIBUIDA/codigos_estado.csv', index_col=1)

In [69]:
df_cod.loc[12]

UF       AC
FC    0.145
Name: 12, dtype: object

In [70]:
df_dist['CodEstado'] = df_dist.apply(strip, axis=1)

In [73]:
df_dist['FC'] = df_dist.apply(lambda x: aplicar_estado(df_cod, x), axis=1)

In [75]:
df_dist.to_parquet('DISTRIBUIDA/empreendimento-geracao-distribuida.parquet')

In [95]:
df_dist['ENERGIA'] = df_dist.apply(calcular_energia, axis=1)

In [ ]:
df_dist['ENERGIA'] = df_dist['ENERGIA']/1000

In [102]:
df_dist.to_parquet('DISTRIBUIDA/empreendimento-geracao-distribuida.parquet')

In [104]:
df_dist['ENERGIA'].sum()

2538718.075884628